<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyorugi Footwork</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/training.css}">
    <link rel="icon" data-th-href="@{/images/Side Kick Icon.png}">
</head>
<marquee behavior="" direction="" style="background-color: rgb(239,124,0); color: rgb(0,61,124);">
    <span data-th-text="${username}"></span>, Be sure to end your workout within 2 hours to avoid losing your workout session record (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/Footwork Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">

    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <!-- Read me positioned at bottom left corner -->
    <a class="text-decoration-none text-center rounded readme-box" data-th-href="@{/documentation.html}"><h6 class="text-start">Read me</h6></a>
    <!-- Home container -->
    <div class="container text-start mb-3 home-div">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img class="rounded" data-th-src="@{/images/NUS Logo.jpeg}" alt="" height="100px">
        </a>
        <span class="display-6 text-white">Taekwondo</span>
    </div>
    <!-- Navigation container -->
    <a class="text-decoration-none" data-th-href="@{/kyorugi/{user}(user=${username})}">
        <div class="container text-center py-1 mb-3 navi-div">
            <img class="rounded-circle mx-2" data-th-src="@{/images/Workout Icon.jpg}" alt="" height="30px">
            <span>Select other training OR End training</span>
        </div>   
    </a>
    <!-- Addition container -->
    <div class="container text-center mb-2 addition-div" data-th-if="${!empty}">
        <span data-th-text="${lastWorkout.sets}"></span> set(s) of <span data-th-text="${lastWorkout.name}"></span> has been completed
    </div>
    <!-- Workout list and Workout options container -->
    <div class="container text-center">
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center low-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Bounce Switching</div>
                            <p class="image2-lowdescription">Low Intensity</p>
                            <p class="image2-description2">Bounce and perform leg switches</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Bounce Switching</span></label>
                            <input type="hidden" name="durName" value="Bounce Switching">
                            <input type="hidden" name="intensity" value="low">
                            <div>
                                <label for="duration"><small>Duration</small></label>
                                <select name="duration" id="duration">
                                    <option value="20">20s</option>
                                    <option value="30">30s</option>
                                    <option value="40">40s</option>
                                    <option value="60">>60s</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center low-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Bounce Sliding</div>
                            <p class="image2-lowdescription">Low Intensity</p>
                            <p class="image2-description2">Bounce and perform forward/backward slides</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Bounce Sliding</span></label>
                            <input type="hidden" name="durName" value="Bounce Sliding">
                            <input type="hidden" name="intensity" value="low">
                            <div>
                                <label for="duration"><small>Duration</small></label>
                                <select name="duration" id="duration">
                                    <option value="20">20s</option>
                                    <option value="30">30s</option>
                                    <option value="40">40s</option>
                                    <option value="60">>60s</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center low-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Bounce Knee-up</div>
                            <p class="image2-lowdescription">Low Intensity</p>
                            <p class="image2-description2">Bounce and perform static single knee-ups</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Bounce Knee-up</span></label>
                            <input type="hidden" name="durName" value="Bounce Knee-up">
                            <input type="hidden" name="intensity" value="low">
                            <div>
                                <label for="duration"><small>Duration</small></label>
                                <select name="duration" id="duration">
                                    <option value="20">20s</option>
                                    <option value="30">30s</option>
                                    <option value="40">40s</option>
                                    <option value="60">>60s</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Bounce Kick-Set Switch</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Bounce and perform static kick setting, and switch every few seconds</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Bounce Kick-Set Switch</span></label>
                            <input type="hidden" name="durName" value="Bounce Kick-Set Switch">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="duration"><small>Duration</small></label>
                                <select name="duration" id="duration">
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="60">>60</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Moving Turning-Set</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Moving forward and backward with kick set</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Moving Turning-Set</span></label>
                            <input type="hidden" name="durName" value="Moving Turning-Set">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="duration"><small>Distance</small></label>
                                <select name="duration" id="duration">
                                    <option value="20">5m/S</option>
                                    <option value="40">10m/S</option>
                                    <option value="80">20m/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center low-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">High Knee</div>
                            <p class="image2-lowdescription">Low Intensity</p>
                            <p class="image2-description2">High knee forward and backwards</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">High Knee</span></label>
                            <input type="hidden" name="durName" value="High Knee">
                            <input type="hidden" name="intensity" value="low">
                            <div>
                                <label for="duration"><small>Distance</small></label>
                                <select name="duration" id="duration">
                                    <option value="10">5m</option>
                                    <option value="20">10m</option>
                                    <option value="40">20m</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center low-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Moving Knee-up</div>
                            <p class="image2-lowdescription">Low Intensity</p>
                            <p class="image2-description2">Single knee-ups while bouncing forward and backwards</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Moving Knee-up</span></label>
                            <input type="hidden" name="durName" value="Moving Knee-up">
                            <input type="hidden" name="intensity" value="low">
                            <div>
                                <label for="duration"><small>Distance</small></label>
                                <select name="duration" id="duration">
                                    <option value="20">5m/S</option>
                                    <option value="40">10m/S</option>
                                    <option value="80">20m/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center low-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Just Sliding</div>
                            <p class="image2-lowdescription">Low Intensity</p>
                            <p class="image2-description2">Sliding forward and backward</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Just Sliding</span></label>
                            <input type="hidden" name="durName" value="Just Sliding">
                            <input type="hidden" name="intensity" value="low">
                            <div>
                                <label for="duration"><small>Distance</small></label>
                                <select name="duration" id="duration">
                                    <option value="20">5m/S</option>
                                    <option value="40">10m/S</option>
                                    <option value="80">20m/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Long Jump + Hip Twist</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Perform long jump and at every stop, jump upwards and double hip twist</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Long Jump + Hip Twist</span></label>
                            <input type="hidden" name="repName" value="Long Jump + Hip Twist">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="60">5</option>
                                    <option value="96">8</option>
                                    <option value="120">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Long Jump + 360 Spins</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Perform long jump and at every stop, jump upwards and spin 360 in one direction then another direction</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Long Jump + 360 Spins</span></label>
                            <input type="hidden" name="repName" value="Long Jump + 360 Spins">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="75">5</option>
                                    <option value="120">8</option>
                                    <option value="150">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Jump Package</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Consist of front tuck, back tuck, 2x mario, both legs kick front, split kick</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Jump Package</span></label>
                            <input type="hidden" name="repName" value="Jump Package">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="90">3</option>
                                    <option value="150">5</option>
                                    <option value="240">8</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center low-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Cone Zigzag Slides</div>
                            <p class="image2-lowdescription">Low Intensity</p>
                            <p class="image2-description2">Zigzag with precision through a line of cones, foward and backward</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Cone Zigzag Slides</span></label>
                            <input type="hidden" name="durName" value="Cone Zigzag Slides">
                            <input type="hidden" name="intensity" value="low">
                            <div>
                                <label for="duration"><small>Distance</small></label>
                                <select name="duration" id="duration">
                                    <option value="10">5m</option>
                                    <option value="20">10m</option>
                                    <option value="40">20m</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Cone Zigzag Kick-Set</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Zigzag with single knee-up (Kick-Set) with precision through a line of cones, foward and backward</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Cone Zigzag Kick-Set</span></label>
                            <input type="hidden" name="durName" value="Cone Zigzag Kick-Set">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="duration"><small>Distance</small></label>
                                <select name="duration" id="duration">
                                    <option value="60">5m/S</option>
                                    <option value="120">10m/S</option>
                                    <option value="240">20m/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Ladders Slide + Switch</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">With one foot in a ladder pocket (all times), slide forward and back before switching to next pocket. Repeat cycle</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Ladders Slide + Switch</span></label>
                            <input type="hidden" name="durName" value="Ladders Slide + Switch">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="duration"><small>Distance</small></label>
                                <select name="duration" id="duration">
                                    <option value="60">3m</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Ladders Kick-Set</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">In Kick-Set position, hop into a pocket hop left out, hop right in, right out and left in again before hopping to next</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/footwork/saveduration" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="durName"><span class="form-input-label">Ladders Kick-Set</span></label>
                            <input type="hidden" name="durName" value="Ladders Kick-Set">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="duration"><small>Distance</small></label>
                                <select name="duration" id="duration">
                                    <option value="180">3m</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>