<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUS Taekwondo Training Homepage</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css2/home.css">
</head>
<marquee behavior="" direction="" style="background-color: rgb(239,124,0); color: rgb(0,61,124);">
    <span data-th-if="${hour le 12}">Good morning, <span data-th-text="${username}"></span>. Choose any workout to begin!</span>
    <span data-th-unless="${hour le 12}">Good afternoon, <span data-th-text="${username}"></span>. Choose any workout to begin!</span>
</marquee>
<body background="./images/NUS Background.jpg" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">

    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <a class="text-decoration-none text-center rounded readme-box" data-th-href="@{/documentation.html}"><h6 class="text-start">Read me</h6></a>
    <!-- Home container -->
    <div class="container text-center mb-5 home-div">
        <img class="rounded" src="./images/NUS Logo.jpeg" alt="" height="100px">
        <span class="display-6 text-white">Taekwondo</span>
    </div>
    <!-- Workout Training container -->
    <div class="container text-center mb-5">
        <div class="container row">
            <!-- Image link to Poomsae Page -->
            <div class="col image">
                <a data-th-href="@{/poomsae/{user}(user=${username})}">
                    <img data-th-src="@{/images/Poomsae-Shuen.jpg}" alt="" width="200px" height="200px">
                    <div class="image-overlay text-center">
                        <div class="image-title">Poomsae Training</div>
                        <p class="image-description">Train hard!</p>
                    </div>
                </a>
            </div>
            <!-- Image link to Standard workout Page -->
            <div class="col image">
                <a data-th-href="@{/workout/{user}(user=${username})}">
                    <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="200px" height="200px">
                    <div class="image-overlay">
                        <div class="image-title">Standard Workout</div>
                        <p class="image-description">Train hard!</p>
                    </div>
                </a>
            </div>
            <!-- Image link to Kyorugi Page -->
            <div class="col image">
                <a data-th-href="@{/kyorugi/{user}(user=${username})}">
                    <img data-th-src="@{/images/Kyorugi-JingHeng.jpg}" alt="" width="200px" height="200px">
                    <div class="image-overlay">
                        <div class="image-title">Kyorugi Training</div>
                        <p class="image-description">Train hard!</p>
                    </div>
                </a>
            </div>  
        </div>
    </div>
    <!-- Workout Archive container -->
    <a class="text-decoration-none" data-th-href="@{/archive/{user}(user=${username})}">
        <div class="container text-center py-1 navi-div">
            <img class="rounded-circle mx-2" data-th-src="@{/images/Workout Icon.jpg}" alt="" height="30px">
            <span class="h6"><span data-th-text="${username}"></span>'s workout archive</span>
            <img class="rounded-circle mx-2" data-th-src="@{/images/Workout Icon.jpg}" alt="" height="30px">
        </div> 
    </a>
    
</body>
</html>