<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUS Kyorugi Technique</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/training.css}">
    <link rel="icon" data-th-href="@{/images/Side Kick Icon.png}">
</head>
<marquee behavior="" direction="" style="background-color: rgb(239,124,0); color: rgb(0,61,124);">
    <span data-th-text="${username}"></span>, Be sure to end your workout within 2 hours to avoid losing your workout session record (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/Kyorugi Technique Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">

    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <a class="text-decoration-none text-center rounded readme-box" data-th-href="@{/documentation.html}"><h6 class="text-start">Read me</h6></a>
    <!-- Home container -->
    <div class="container text-start mb-3 home-div">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img class="rounded" data-th-src="@{/images/NUS Logo.jpeg}" alt="" height="100px">
        </a>
        <span class="display-6 text-white">Taekwondo</span>
    </div>
    <!-- Navigation container -->
    <a class="text-decoration-none" data-th-href="@{/kyorugi/{user}(user=${username})}">
        <div class="container text-center py-1 mb-3 navi-div">
            <img class="rounded-circle mx-2" data-th-src="@{/images/Workout Icon.jpg}" alt="" height="30px">
            <span>Select other training OR End training</span>
        </div>   
    </a>
    <!-- Addition container -->
    <div class="container text-center mb-2 addition-div" data-th-if="${!empty}">
        <span data-th-text="${lastWorkout.sets}"></span> set(s) of <span data-th-text="${lastWorkout.name}"></span> has been completed
    </div>
     <!-- Workout list and Workout options container -->
     <div class="container text-center">
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Direct Switch</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Switch and kick with the back foot</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Direct Switch</span></label>
                            <input type="hidden" name="repName" value="Direct Switch">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="60">6/S</option>
                                    <option value="80">8/S</option>
                                    <option value="100">10/S</option>
                                    <option value="120">12/S</option>
                                    <option value="150">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Jumping Backthrust</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Switch and backthrust in midair with the back foot</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Jumping Backthrust</span></label>
                            <input type="hidden" name="repName" value="Jumping Backthrust">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="60">6/S</option>
                                    <option value="80">8/S</option>
                                    <option value="100">10/S</option>
                                    <option value="120">12/S</option>
                                    <option value="150">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Long Turn + Long Follow-up</div>
                            <p class="image2-highdescription">Moderate Intensity</p>
                            <p class="image2-description2">Long turning with any of the long follow-up (Turning/Inward Crescent/Slamming)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Long turn + Long Follow-up</span></label>
                            <input type="hidden" name="repName" value="Long turn + Long Follow-up">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="120">6/S</option>
                                    <option value="160">8/S</option>
                                    <option value="200">10/S</option>
                                    <option value="240">12/S</option>
                                    <option value="320">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Long Turn + Short Follow-up</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Long turning with any of the short follow-up (Turning/Inward Crescent/Slamming/Front Hook)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Long turn + Short Follow-up</span></label>
                            <input type="hidden" name="repName" value="Long turn + Short Follow-up">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="120">6/S</option>
                                    <option value="160">8/S</option>
                                    <option value="200">10/S</option>
                                    <option value="240">12/S</option>
                                    <option value="320">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Short Turn + Short Follow-up</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Short turning with any of the short follow-up (Turning/Inward Crescent/Slamming/Front hook)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Short turn + Short Follow-up</span></label>
                            <input type="hidden" name="repName" value="Short turn + Short Follow-up">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="120">6/S</option>
                                    <option value="160">8/S</option>
                                    <option value="200">10/S</option>
                                    <option value="240">12/S</option>
                                    <option value="320">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Short Front-check + Long Follow-up</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Short front-check kick with any of the long follow-up (Turning/Inward Crescent/Slamming)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Short Front-check + Long Follow-up</span></label>
                            <input type="hidden" name="repName" value="Short Front-check + Long Follow-up">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="120">6/S</option>
                                    <option value="160">8/S</option>
                                    <option value="200">10/S</option>
                                    <option value="240">12/S</option>
                                    <option value="320">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Short Front-check + Short Follow-up</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Short front-check kick with any of the short follow-up (Turning/Inward Crescent/Slamming)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Short Front-check + Short Follow-up</span></label>
                            <input type="hidden" name="repName" value="Short Front-check + Short Follow-up">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="120">6/S</option>
                                    <option value="160">8/S</option>
                                    <option value="200">10/S</option>
                                    <option value="240">12/S</option>
                                    <option value="320">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Short Front-check + Advanced</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Short front-check kick with any of the short advanced follow-up (Double low-high turning/Jumping backthrust/Jumping hook)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Short Front-check + Advanced</span></label>
                            <input type="hidden" name="repName" value="Short Front-check + Advanced">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="132">6/S</option>
                                    <option value="176">8/S</option>
                                    <option value="220">10/S</option>
                                    <option value="264">12/S</option>
                                    <option value="352">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Combo 1 (3 Kicks)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Short turning, 360 turning, Reverse hook</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Combo 1 (3 Kicks)</span></label>
                            <input type="hidden" name="repName" value="Combo 1 (3 Kicks)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="90">3/S</option>
                                    <option value="150">5/S</option>
                                    <option value="240">8/S</option>
                                    <option value="300">10/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Combo 2 (3 Kicks)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Short Check, Jumping backthrust,360 Reverse hook</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Combo 2 (3 Kicks)</span></label>
                            <input type="hidden" name="repName" value="Combo 2 (3 Kicks)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="90">3/S</option>
                                    <option value="150">5/S</option>
                                    <option value="240">8/S</option>
                                    <option value="300">10/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Combo 3 (3 Kicks)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Skip short turn, front-hook+turning, jumping front thrust</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Combo 3 (3 Kicks)</span></label>
                            <input type="hidden" name="repName" value="Combo 3 (3 Kicks)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="90">3/S</option>
                                    <option value="150">5/S</option>
                                    <option value="240">8/S</option>
                                    <option value="300">10/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Front Step + Short Follow-up</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Step forward/Switch with any of the short follow-up (Skipping turn/side/slamming/outward crescent)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Front Step + Follow-up</span></label>
                            <input type="hidden" name="repName" value="Front Step + Follow-up">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="66">6/S</option>
                                    <option value="88">8/S</option>
                                    <option value="110">10/S</option>
                                    <option value="132">12/S</option>
                                    <option value="176">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Front Step + Advanced</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Step forward/Switch with any of the short advanced follow-up (Skipping front-hook+turn)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Front Step + Advanced</span></label>
                            <input type="hidden" name="repName" value="Front Step + Advanced">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="72">6/S</option>
                                    <option value="96">8/S</option>
                                    <option value="120">10/S</option>
                                    <option value="144">12/S</option>
                                    <option value="192">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Back Step + Long Follow-up</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Step backward/Switch with any of the long follow-up (Direct switch/Backthrust/Jumping Backthrust/Reverse Hook)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Back Step + Follow-up</span></label>
                            <input type="hidden" name="repName" value="Back Step + Follow-up">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="66">6/S</option>
                                    <option value="88">8/S</option>
                                    <option value="110">10/S</option>
                                    <option value="132">12/S</option>
                                    <option value="176">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Front Slide + Long Follow-up</div>
                            <p class="image2-highdescription">Moderate Intensity</p>
                            <p class="image2-description2">Slide forward with any of the long follow-up (Punch+Direct switch/Turning+Double turning/Crescent+Outer Twist Kick)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Front Slide + Long Follow-up</span></label>
                            <input type="hidden" name="repName" value="Front Slide + Long Follow-up">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="72">6/S</option>
                                    <option value="96">8/S</option>
                                    <option value="120">10/S</option>
                                    <option value="144">12/S</option>
                                    <option value="192">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Back Slide + Follow-up</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Slide backward with any of the follow-up (Double turning/360/Backthrust/Jumping Backthrust)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Back Slide + Follow-up</span></label>
                            <input type="hidden" name="repName" value="Back Slide + Follow-up">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="72">6/S</option>
                                    <option value="96">8/S</option>
                                    <option value="120">10/S</option>
                                    <option value="144">12/S</option>
                                    <option value="192">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Side Step 1 + Follow-up</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">STEP forward, Side step to closed side (i.e. if step front with right, side step to right) followed by any of the long follow-up (Double turning/Inward crescent)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Side Step 1 + Follow-up</span></label>
                            <input type="hidden" name="repName" value="Side Step + Follow-up">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="72">6/S</option>
                                    <option value="96">8/S</option>
                                    <option value="120">10/S</option>
                                    <option value="144">12/S</option>
                                    <option value="192">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Side Step 2 + Follow-up</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">SLIDE forward, Side step to open side (i.e. if slide front with right, side step to left) followed by any of the long follow-up (Double turning/Inward crescent)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Side Step 2 + Follow-up</span></label>
                            <input type="hidden" name="repName" value="Side Step 2 + Follow-up">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="72">6/S</option>
                                    <option value="96">8/S</option>
                                    <option value="120">10/S</option>
                                    <option value="144">12/S</option>
                                    <option value="192">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Reverse Step + Combo 1</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Step front with backleg in direction of how backthrust is performed (Backthrust feint). Short turn, 360, Reverse hook</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Reverse Step + Combo 1</span></label>
                            <input type="hidden" name="repName" value="Reverse Step + Combo 1">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="105">3/S</option>
                                    <option value="175">5/S</option>
                                    <option value="280">8/S</option>
                                    <option value="350">10/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Slide forward + Reverse Step + Follow-up</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Slide forward, Step front 135 degrees with backleg in direction of how backthrust is performed (Backthrust feint). Short front check + Slamming/Front Hook</p>
                        </div>
                    </div>
                    <div>
                        <form action="/kyorugi/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Slide forward + Reverse Step + Follow-up</span></label>
                            <input type="hidden" name="repName" value="Slide forward + Reverse Step + Follow-up">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="180">6/S</option>
                                    <option value="240">8/S</option>
                                    <option value="300">10/S</option>
                                    <option value="360">12/S</option>
                                    <option value="480">16/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>