<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poomsae Techniques</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/training.css}">
    <link rel="icon" data-th-href="@{/images/Side Kick Icon.png}">
</head>
<marquee behavior="" direction="" style="background-color: rgb(239,124,0); color: rgb(0,61,124);">
    <span data-th-text="${username}"></span>, Be sure to end your workout within 2 hours to avoid losing your workout session record (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/NUS Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">

    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <a class="text-decoration-none text-center rounded readme-box" data-th-href="@{/documentation.html}"><h6 class="text-start">Read me</h6></a>
    <!-- Home container -->
    <div class="container text-start mb-3 home-div">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img class="rounded" data-th-src="@{/images/NUS Logo.jpeg}" alt="" height="100px">
        </a>
        <span class="display-6 text-white">Taekwondo</span>
    </div>
    <!-- Navigation container -->
    <a class="text-decoration-none" data-th-href="@{/poomsae/{user}(user=${username})}">
        <div class="container text-center py-1 mb-3 navi-div">
            <img class="rounded-circle mx-2" data-th-src="@{/images/Workout Icon.jpg}" alt="" height="30px">
            <span>Select other training OR End training</span>
        </div>   
    </a>
    <!-- Addition container -->
    <div class="container text-center mb-2 addition-div" data-th-if="${!empty}">
        <span data-th-text="${lastWorkout.sets}"></span> set(s) of <span data-th-text="${lastWorkout.name}"></span> has been completed
    </div>
    <!-- Workout list and Workout options container -->
    <div class="container text-center">
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Alternate Punching (Horse)</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Alternating punches in horse-riding stance</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Alternate Punching (Horse)</span></label>
                            <input type="hidden" name="repName" value="Alternate Punching (Horse)">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="32">8</option>
                                    <option value="40">10</option>
                                    <option value="64">16</option>
                                    <option value="80">>20</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="8">8</option>
                                    <option value="11">>10</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Low/High/Inward Block (Forward)</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Block in static forward stance. (Count each block type as 1 set)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Low/High/Inward Block (Forward)</span></label>
                            <input type="hidden" name="repName" value="Low/High/Inward Block (Forward)">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="64">8/S</option>
                                    <option value="80">10/S</option>
                                    <option value="128">16/S</option>
                                    <option value="160">>20/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="7">>6</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Single/Double Knife Block (Back)</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Block in static back stance</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Single/Double Knife Block (Back)</span></label>
                            <input type="hidden" name="repName" value="Single/Double Knife Block (Back)">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="64">8/S</option>
                                    <option value="80">10/S</option>
                                    <option value="128">16/S</option>
                                    <option value="160">>20/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="7">>6</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Punching/Pulling (Resistance)</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Punch and pull with resistance band strapped in grip. Performed in static forward stance.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Punching/Pulling (Resistance)</span></label>
                            <input type="hidden" name="repName" value="Punching/Pulling (Resistance)">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="80">8/S</option>
                                    <option value="100">10/S</option>
                                    <option value="160">16/S</option>
                                    <option value="200">>20/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">>3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Low/High/Inward Block (Resistance)</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Block with resistance band strapped in grip. Performed in static forward stance.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Low/High/Inward Block (Resistance)</span></label>
                            <input type="hidden" name="repName" value="Low/High/Inward Block (Resistance)">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="80">8/S</option>
                                    <option value="100">10/S</option>
                                    <option value="160">16/S</option>
                                    <option value="200">>20/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">>3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Single Fist Block (Resistance)</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Block with resistance band strapped in grip. Performed in static back stance.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Single Fist Block (Resistance)</span></label>
                            <input type="hidden" name="repName" value="Single Fist Block (Resistance)">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="80">8/S</option>
                                    <option value="100">10/S</option>
                                    <option value="160">16/S</option>
                                    <option value="200">>20/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">>3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Punching (Alternating Stance)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Performed in forward stance. Alternate the stance in 2-parts process: Weight shift + Execution</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Punching (Alternating Stance)</span></label>
                            <input type="hidden" name="repName" value="Punching (Alternating Stance)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="90">10</option>
                                    <option value="144">16</option>
                                    <option value="180">20</option>
                                    <option value="270">>30</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">>3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Low/High/Inward Block (Alternating Stance)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Performed in forward stance. Alternate the stance in 2-parts process: Weight shift + Execution</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Low/High/Inward Block (Alternating Stance)</span></label>
                            <input type="hidden" name="repName" value="Low/High/Inward Block (Alternating Stance)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="90">10</option>
                                    <option value="144">16</option>
                                    <option value="180">20</option>
                                    <option value="270">>30</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">>3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Single Knife Block (Alternating Stance)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Performed in back stance. Alternate the stance in 2-parts process: Weight shift + Execution</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Single Knife Block (Alternating Stance)</span></label>
                            <input type="hidden" name="repName" value="Single Knife Block (Alternating Stance)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="90">10</option>
                                    <option value="144">16</option>
                                    <option value="180">20</option>
                                    <option value="270">>30</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">>3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Basic Movements</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Combination of stances,blocks and strikes</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Basic Movements</span></label>
                            <input type="hidden" name="repName" value="Basic Movements">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="52">1</option>
                                    <option value="104">2</option>
                                    <option value="156">3</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Movement Package</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Moving forward: Punch+Forward, 3xBlock+Forward, DoubleKnife+Back</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Movement Package</span></label>
                            <input type="hidden" name="repName" value="Movement Package">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="150">6</option>
                                    <option value="200">8</option>
                                    <option value="250">>10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">>3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Movement Package (Weighted)</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Weights strapped on waist: Punch + Forward, 3xBlock + Forward, DoubleKnife + Back</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Movement Package (Weighted)</span></label>
                            <input type="hidden" name="repName" value="Movement Package (Weighted)">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="180">6</option>
                                    <option value="240">8</option>
                                    <option value="300">>10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4">>3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Poomsae by Steps</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Repeat each step multiple times before advancing</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/savepoomsae" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Poomsae by Steps</span></label>
                            <input type="hidden" name="repName" value="Poomsae by Steps">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="grade"><small>Grade</small></label>
                                <select name="grade" id="grade">
                                    <option value="180">Il-Jang</option>
                                    <option value="180">Ee-Jang</option>
                                    <option value="200">Sam-Jang</option>
                                    <option value="240">Sa-Jang</option>
                                    <option value="240">O-Jang</option>
                                    <option value="240">Yuk-Jang</option>
                                    <option value="375">Chil-Jang</option>
                                    <option value="405">Pal-Jang</option>
                                    <option value="450">Koryo</option>
                                    <option value="405">Keumgang</option>
                                    <option value="390">Taebaek</option>
                                    <option value="315">Pyongwon</option>
                                    <option value="420">Sipjin</option>
                                </select>
                            </div>
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">>8</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Poomsae by Parts</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Repeat each set of movement (4-6 steps) multiple times before advancing</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/savepoomsae" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Poomsae by Parts</span></label>
                            <input type="hidden" name="repName" value="Poomsae by Parts">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="grade"><small>Grade</small></label>
                                <select name="grade" id="grade">
                                    <option value="144">Il-Jang</option>
                                    <option value="144">Ee-Jang</option>
                                    <option value="160">Sam-Jang</option>
                                    <option value="192">Sa-Jang</option>
                                    <option value="192">O-Jang</option>
                                    <option value="192">Yuk-Jang</option>
                                    <option value="300">Chil-Jang</option>
                                    <option value="324">Pal-Jang</option>
                                    <option value="360">Koryo</option>
                                    <option value="324">Keumgang</option>
                                    <option value="312">Taebaek</option>
                                    <option value="252">Pyongwon</option>
                                    <option value="336">Sipjin</option>
                                </select>
                            </div>
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">>8</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Poomsae by Components</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Repeat & Alternate each set of movement (Distinct steps). Advancee from one end to another.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/savepoomsae" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Poomsae by Components</span></label>
                            <input type="hidden" name="repName" value="Poomsae by Components">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="grade"><small>Grade</small></label>
                                <select name="grade" id="grade">
                                    <option value="200">Il-Sa</option>
                                    <option value="350">O-Pal</option>
                                    <option value="600">Kor-Sip</option>
                                </select>
                            </div>
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="3">~5m</option>
                                    <option value="6">~10m</option>
                                    <option value="10">>15m</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center extreme-box2">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Full Poomsae</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform full poomsae</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/savepoomsae" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Full Poomsae</span></label>
                            <input type="hidden" name="repName" value="Full Poomsae">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="grade"><small>Grade</small></label>
                                <select name="grade" id="grade">
                                    <option value="110">Il-Jang</option>
                                    <option value="110">Ee-Jang</option>
                                    <option value="120">Sam-Jang</option>
                                    <option value="130">Sa-Jang</option>
                                    <option value="130">O-Jang</option>
                                    <option value="125">Yuk-Jang</option>
                                    <option value="160">Chil-Jang</option>
                                    <option value="170">Pal-Jang</option>
                                    <option value="180">Koryo</option>
                                    <option value="170">Keumgang</option>
                                    <option value="160">Taebaek</option>
                                    <option value="150">Pyongwon</option>
                                    <option value="175">Sipjin</option>
                                </select>
                            </div>
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">>8</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box2">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Slow Motion Poomsae</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform full poomsae in slow motion. Focus on the details.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/savepoomsae" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Slow Motion Poomsae</span></label>
                            <input type="hidden" name="repName" value="Slow Motion Poomsae">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="grade"><small>Grade</small></label>
                                <select name="grade" id="grade">
                                    <option value="180">Il-Jang</option>
                                    <option value="180">Ee-Jang</option>
                                    <option value="210">Sam-Jang</option>
                                    <option value="240">Sa-Jang</option>
                                    <option value="240">O-Jang</option>
                                    <option value="225">Yuk-Jang</option>
                                    <option value="270">Chil-Jang</option>
                                    <option value="300">Pal-Jang</option>
                                    <option value="330">Koryo</option>
                                    <option value="300">Keumgang</option>
                                    <option value="270">Taebaek</option>
                                    <option value="240">Pyongwon</option>
                                    <option value="315">Sipjin</option>
                                </select>
                            </div>
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">>8</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box2">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Slow Motion Poomsae by Parts</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform poomsae by parts in slow motion multiple times. Focus on the details.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/savepoomsae" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Slow Motion Poomsae by Parts</span></label>
                            <input type="hidden" name="repName" value="Slow Motion Poomsae by Parts">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="grade"><small>Grade</small></label>
                                <select name="grade" id="grade">
                                    <option value="270">Il-Jang</option>
                                    <option value="270">Ee-Jang</option>
                                    <option value="315">Sam-Jang</option>
                                    <option value="360">Sa-Jang</option>
                                    <option value="360">O-Jang</option>
                                    <option value="338">Yuk-Jang</option>
                                    <option value="405">Chil-Jang</option>
                                    <option value="450">Pal-Jang</option>
                                    <option value="495">Koryo</option>
                                    <option value="450">Keumgang</option>
                                    <option value="405">Taebaek</option>
                                    <option value="360">Pyongwon</option>
                                    <option value="473">Sipjin</option>
                                </select>
                            </div>
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">>8</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box2">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Full Poomsae (Weighted)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform full Poomsae with weights strapped on belt.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/savepoomsae" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Full Poomsae (Weighted)</span></label>
                            <input type="hidden" name="repName" value="Full Poomsae (Weighted)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="grade"><small>Grade</small></label>
                                <select name="grade" id="grade">
                                    <option value="140">Il-Jang</option>
                                    <option value="140">Ee-Jang</option>
                                    <option value="150">Sam-Jang</option>
                                    <option value="160">Sa-Jang</option>
                                    <option value="160">O-Jang</option>
                                    <option value="155">Yuk-Jang</option>
                                    <option value="200">Chil-Jang</option>
                                    <option value="210">Pal-Jang</option>
                                    <option value="220">Koryo</option>
                                    <option value="210">Keumgang</option>
                                    <option value="200">Taebaek</option>
                                    <option value="190">Pyongwon</option>
                                    <option value="215">Sipjin</option>
                                </select>
                            </div>
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">>8</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box2">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Poomsae by Parts (Weighted)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform Poomsae by parts (4-6 steps) with weights strapped on belt.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/technique/savepoomsae" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Poomsae by Parts (Weighted)</span></label>
                            <input type="hidden" name="repName" value="Poomsae by Parts (Weighted)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="grade"><small>Grade</small></label>
                                <select name="grade" id="grade">
                                    <option value="180">Il-Jang</option>
                                    <option value="180">Ee-Jang</option>
                                    <option value="195">Sam-Jang</option>
                                    <option value="230">Sa-Jang</option>
                                    <option value="230">O-Jang</option>
                                    <option value="230">Yuk-Jang</option>
                                    <option value="330">Chil-Jang</option>
                                    <option value="360">Pal-Jang</option>
                                    <option value="395">Koryo</option>
                                    <option value="360">Keumgang</option>
                                    <option value="345">Taebaek</option>
                                    <option value="285">Pyongwon</option>
                                    <option value="370">Sipjin</option>
                                </select>
                            </div>
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="3">3</option>
                                    <option value="5">5</option>
                                    <option value="10">>8</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
