<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poomsae Kicking Drills</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/training.css}">
    <link rel="icon" data-th-href="@{/images/Side Kick Icon.png}">
</head>
<marquee behavior="" direction="" style="background-color: rgb(239,124,0); color: rgb(0,61,124);">
    <span data-th-text="${username}"></span>, Be sure to end your workout within 2 hours to avoid losing your workout session record (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/Poomsae Kicking Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">

    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <a class="text-decoration-none text-center rounded readme-box" data-th-href="@{/documentation.html}"><h6 class="text-start">Read me</h6></a>
    <!-- Home container -->
    <div class="container text-start mb-3 home-div">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img class="rounded" data-th-src="@{/images/NUS Logo.jpeg}" alt="" height="100px">
        </a>
        <span class="display-6 text-white">Taekwondo</span>
    </div>
    <!-- Navigation container -->
    <a class="text-decoration-none" data-th-href="@{/poomsae/{user}(user=${username})}">
        <div class="container text-center py-1 mb-3 navi-div">
            <img class="rounded-circle mx-2" data-th-src="@{/images/Workout Icon.jpg}" alt="" height="30px">
            <span>Select other training OR End training</span>
        </div>   
    </a>
    <!-- Addition container -->
    <div class="container text-center mb-2 addition-div" data-th-if="${!empty}">
        <span data-th-text="${lastWorkout.sets}"></span> set(s) of <span data-th-text="${lastWorkout.name}"></span> has been completed
    </div>
    <!-- Workout list and Workout options container -->
    <div class="container text-center">
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Pyramid Kicking</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Package consisting of raise, set, kicking low-high and high-low</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Pyramid Kicking</span></label>
                            <input type="hidden" name="repName" value="Pyramid Kicking">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="256">3</option>
                                    <option value="416">5</option>
                                    <option value="672">8</option>
                                    <option value="992">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Pyramid Kicking (Resistance)</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Strapped band to ankles. Package consisting of raise, set, kicking low-high and high-low</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Pyramid Kicking (Resistance)</span></label>
                            <input type="hidden" name="repName" value="Pyramid Kicking (Resistance)">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="307">3</option>
                                    <option value="499">5</option>
                                    <option value="806">8</option>
                                    <option value="1190">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Taegeuk Kicks</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Consisting of G(1) GB(1) B(2) BR(1) R(1) RB(1)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Taegeuk Kicks</span></label>
                            <input type="hidden" name="repName" value="Taegeuk Kicks">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="336">6</option>
                                    <option value="448">8</option>
                                    <option value="560">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Taegeuk Kicks (Resistance)</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Strapped band to ankles. Consisting of G(1) GB(1) B(2) BR(1) R(1) RB(1)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Taegeuk Kicks (Resistance)</span></label>
                            <input type="hidden" name="repName" value="Taegeuk Kicks (Resistance)">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="420">6</option>
                                    <option value="560">8</option>
                                    <option value="700">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Dan Kicks</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Consisting of Koryo(3) Keum(1) Taebk(1) Pyong(1)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Dan Kicks</span></label>
                            <input type="hidden" name="repName" value="Dan Kicks">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="360">6</option>
                                    <option value="480">8</option>
                                    <option value="600">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Dan Kicks (Resistance)</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Consisting of Koryo(3) Keum(1) Taebk(1) Pyong(1)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Dan Kicks (Resistance)</span></label>
                            <input type="hidden" name="repName" value="Dan Kicks (Resistance)">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="432">6</option>
                                    <option value="576">8</option>
                                    <option value="720">10</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Pistol Squat Jumping Front</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform pistol squat and jumping front upon standing</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Pistol Squat Jumping Front</span></label>
                            <input type="hidden" name="repName" value="Pistol Squat Jumping Front">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="290">5/S</option>
                                    <option value="340">6/S</option>
                                    <option value="400">7/S</option>
                                    <option value="560">10/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Pistol Squat Side</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform pistol squat and side kick upon standing</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Pistol Squat Side</span></label>
                            <input type="hidden" name="repName" value="Pistol Squat Side">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="290">5/S</option>
                                    <option value="340">6/S</option>
                                    <option value="400">7/S</option>
                                    <option value="560">10/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Lunges Kick</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform lunge and front/turn/side kick upon standing</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Lunges Kick</span></label>
                            <input type="hidden" name="repName" value="Lunges Kick">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="288">8/S</option>
                                    <option value="360">10/S</option>
                                    <option value="432">12/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">4-Directions</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Perform multiple mid-air front/turn/side kick each direction turn. 1 Kick (3 Sets), 2 Kicks (2 Sets), 3 Kicks (1 Set)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">4-Directions</span></label>
                            <input type="hidden" name="repName" value="4-Directions">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="720">Front</option>
                                    <option value="864">Turn</option>
                                    <option value="864">Side</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Single Turning/Side End-Hold</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Support from wall, kick X times and hold for X seconds at the last kick</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Single Turning/Side End-Hold</span></label>
                            <input type="hidden" name="repName" value="Single Turning/Side End-Hold">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="60">10-10</option>
                                    <option value="80">10-20</option>
                                    <option value="80">15-10</option>
                                    <option value="100">15-20</option>
                                    <option value="110">20-10</option>
                                    <option value="120">20-20</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Single Turning/Side End-Hold (Weighted)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Weights strapped to ankle. Support from wall, kick X times and hold for X seconds at the last kick</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Single Turning/Side End-Hold (Weighted)</span></label>
                            <input type="hidden" name="repName" value="Single Turning/Side End-Hold (Weighted)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="72">10-10</option>
                                    <option value="96">10-20</option>
                                    <option value="96">15-10</option>
                                    <option value="120">15-20</option>
                                    <option value="132">20-10</option>
                                    <option value="144">20-20</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Single Turning/Side End-Hold (Resistance)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Band strapped to ankles. Support from wall, kick X times and hold for X seconds at the last kick</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Single Turning/Side End-Hold (Resistance)</span></label>
                            <input type="hidden" name="repName" value="Single Turning/Side End-Hold (Resistance)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="75">10-10</option>
                                    <option value="100">10-20</option>
                                    <option value="100">15-10</option>
                                    <option value="125">15-20</option>
                                    <option value="140">20-10</option>
                                    <option value="155">20-20</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Single Turning/Side End-Hold (Combined)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Band and weights strapped to ankles. Support from wall, kick X times and hold for X seconds at the last kick</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Single Turning/Side End-Hold (Combined)</span></label>
                            <input type="hidden" name="repName" value="Single Turning/Side End-Hold (Combined)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="80">10-10</option>
                                    <option value="110">10-20</option>
                                    <option value="110">15-10</option>
                                    <option value="140">15-20</option>
                                    <option value="160">20-10</option>
                                    <option value="175">20-20</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center high-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Double Turning/Side Hold</div>
                            <p class="image2-highdescription">High Intensity</p>
                            <p class="image2-description2">Support from wall, hold 3 counts after every kick. Double turn high-high. Double side low-high. </p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Double Turning/Side Hold</span></label>
                            <input type="hidden" name="repName" value="Double Turning/Side Hold">
                            <input type="hidden" name="intensity" value="high">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="80">8</option>
                                    <option value="100">10</option>
                                    <option value="150">15</option>
                                    <option value="200">20</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row pt-2 mb-2">
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Double Turning/Side Hold (Combined)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Both strapped to ankles. Support from wall, hold 3 counts after every kick. Double turn high-high. Double side low-high. </p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Double Turning/Side Hold (Combined)</span></label>
                            <input type="hidden" name="repName" value="Double Turning/Side Hold (Combined)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="95">8</option>
                                    <option value="115">10</option>
                                    <option value="175">15</option>
                                    <option value="225">20</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Slow Motion Turning/Side + Snap (Weighted)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Weights strapped to ankles. Support from wall, 4 counts every kick.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Slow Motion Turning/Side + Snap (Weighted)</span></label>
                            <input type="hidden" name="repName" value="Slow Motion Turning/Side + Snap (Weighted)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="162">6/S</option>
                                    <option value="216">8/S</option>
                                    <option value="270">10/S</option>
                                    <option value="324">12/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Slow Motion Turning/Side + Snap (Resistance)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Band strapped to ankles. Support from wall, 4 counts every kick.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Slow Motion Turning/Side + Snap (Resistance)</span></label>
                            <input type="hidden" name="repName" value="Slow Motion Turning/Side + Snap (Resistance)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="175">6/S</option>
                                    <option value="220">8/S</option>
                                    <option value="275">10/S</option>
                                    <option value="330">12/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center extreme-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Slow Motion Turning/Side + Snap (Combined)</div>
                            <p class="image2-extremedescription">Extreme Intensity</p>
                            <p class="image2-description2">Both strapped to ankles. Support from wall, 4 counts every kick.</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Slow Motion Turning/Side + Snap (Combined)</span></label>
                            <input type="hidden" name="repName" value="Slow Motion Turning/Side + Snap (Combined)">
                            <input type="hidden" name="intensity" value="extreme">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="190">6/S</option>
                                    <option value="235">8/S</option>
                                    <option value="290">10/S</option>
                                    <option value="350">12/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container text-center mod-box">
                    <div class="image2">
                        <img data-th-src="@{/images/NUS Logo.jpg}" alt="" width="150px" height="150px">
                        <div class="image2-overlay">
                            <div class="image2-title">Wall Side Kicks</div>
                            <p class="image2-moddescription">Moderate Intensity</p>
                            <p class="image2-description2">Side kicks towards and against the wall. (Best done after wall splits)</p>
                        </div>
                    </div>
                    <div>
                        <form action="/poomsae/kicking/saverepetition" method="POST">
                            <input type="hidden" name="user" data-th-value="${username}">
                            <label for="repName"><span class="form-input-label">Wall Side Kicks</span></label>
                            <input type="hidden" name="repName" value="Wall Side Kicks">
                            <input type="hidden" name="intensity" value="moderate">
                            <div>
                                <label for="repetition"><small>Repetition</small></label>
                                <select name="repetition" id="repetition">
                                    <option value="80">10/S</option>
                                    <option value="120">15/S</option>
                                    <option value="160">20/S</option>
                                </select>
                            </div>
                            <div>
                                <label for="sets"><small>Set Count</small></label>
                                <select name="sets" id="sets">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <input class="mt-2" type="image" data-th-src="@{/images/Add Icon.jpg}" alt="Submit" width="40px" height="30px">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>