<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUS Poomsae Training</title>
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/css2/training.css}">
</head>
<marquee behavior="" direction="" style="background-color: rgb(239,124,0); color: rgb(0,61,124);">
    <span data-th-text="${username}"></span>, Be sure to end your workout within 2 hours to avoid losing your workout session record (Press the logo to return home)
</marquee>
<body data-th-background="@{/images/NUS Background.jpg}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)" >

    <!-- Date/Time and Log out positioned at top right corner -->
    <h6 class="text-end"><span data-th-text="${date}"></span></h6>
    <a class="text-decoration-none" data-th-href="@{/}"><h6 class="text-end">Log out</h6></a>
    <a class="text-decoration-none text-center rounded readme-box" data-th-href="@{/documentation}"><h6 class="text-start">Read me</h6></a>
    <!-- Home container -->
    <div class="container text-start mb-3 home-div">
        <a data-th-href="@{/home?user={user}(user=${username})}">
            <img class="rounded" data-th-src="@{/images/NUS Logo.jpeg}" alt="" height="100px">
        </a>
        <span class="display-6 text-white">Taekwondo</span>
    </div>
    <!-- Navigation container -->
    <div class="container text-center pt-2 mb-3 navi-div">
        <form action="/poomsae/summary" method="POST">
            <input type="hidden" name="user" data-th-value="${username}">
            <label for="workoutName" class="mx-2"><span>End training?</span></label>
            <input type="text" id="end-input" name="workoutName" placeholder="Name your training session" size="30" required>
            <input type="submit" value="Submit">
            <!-- <input type="image" class="mx-3" data-th-src="@{/images/Workout Submit Icon.jpg}" alt="Submit" width="20px" height="30px"> -->
        </form>
    </div>
    <!-- Heading containers -->
    <div class="container text-center mb-2">
        <div class="container row">
            <div class="col-5 heading-div">
                <span>Your training session so far:</span>
            </div>
            <div class="col heading-div">
                <span>Choose your training!</span>
            </div>
        </div>
    </div>
    <!-- Workout list and Workout options container -->
    <div class="container text-center">
        <div class="container row">
            <!-- Workout list container -->
            <div class="col-5">
                <div class="container row" data-th-each="workout:${workoutList}">
                    <div class="workout-heading-box">
                        <h6 data-th-text="${workout.name}"></h6>
                    </div>
                    <div class="workout-content-box">
                        <img data-th-src="@{/images/Duration Icon.png}" alt="" width="30px" height="30px">
                        <span data-th-text="${workout.duration}"></span>
                        <img data-th-src="@{/images/Repetition Icon.png}" alt="" width="30px" height="30px">
                        <span data-th-text="${workout.repetition}"></span>
                        <img data-th-src="@{/images/Sets Icon.png}" alt="" width="30px" height="30px">
                        <span data-th-text="${workout.sets}"></span>
                        <img data-th-src="@{/images/Score Icon.png}" alt="" width="30px" height="30px">
                        <small data-th-text="${workout.intensity}"></small>
                        <img data-th-src="@{/images/Intensity Icon.png}" alt="" width="30px" height="30px">
                        <span data-th-text="${workout.intensityScore}"></span>
                    </div>    
                </div>
            </div>
            <!-- Workout options container -->
            <div class="col">
                <div class="container row text-center mt-5">
                    <!-- Image link to Stretch & Static Workout Page -->
                    <div class="col image">
                        <a data-th-href="@{/poomsae/stretch-statics/{user}(user=${username})}">
                            <img data-th-src="@{/images/Stretch Icon.jpg}" alt="" width="150px" height="150px">
                            <div class="image-overlay">
                                <div class="image-title">Stretch & Statics</div>
                                <p class="image-description">Poomsae-based stretch and workout</p>
                            </div>
                        </a>
                    </div>
                    <!-- Image link to Technique Drill Page -->
                    <div class="col image">
                        <a data-th-href="@{/poomsae/technique/{user}(user=${username})}">
                            <img data-th-src="@{/images/Technique Icon.jpg}" alt="" width="150px" height="150px">
                            <div class="image-overlay">
                                <div class="image-title">Technique Drill</div>
                                <p class="image-description">Hand technique and stances</p>
                            </div>
                        </a>
                    </div>
                    <!-- Image link to Kicking Drill Page -->
                    <div class="col image">
                        <a data-th-href="@{/poomsae/kicking/{user}(user=${username})}">
                            <img data-th-src="@{/images/Kicks Icon.jpg}" alt="" width="150px" height="150px">
                            <div class="image-overlay">
                                <div class="image-title">Kicking Drill</div>
                                <p class="image-description">Kicking form and endurance</p>
                            </div>
                        </a>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</body>
</html>