.home-div {
    background-color: rgb(0, 61, 124);
    width: 1200px;
    border-radius: 20px;
    margin-top: -25px;
}

.navi-div {
    width: 1200px;
    border-radius: 30px;
    border: 1px solid rgb(0, 61, 124);
    background-color: rgb(239, 124, 0);
    color: rgb(0, 61, 124);
    opacity: 0.9;
}

#end-input {
    font-size: small;
    height: 25px;
}

.heading-div {
    border: 1px solid black;
    border-radius: 30px;
    background-color: steelblue;
    color: aliceblue;
    opacity: 0.9;
}

.workout-heading-box {
    display: flex;
    justify-content: center;
    height: 20px;
    background-color: lightskyblue;
}

.workout-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: lightcyan;
    opacity: 0.9;
}

.workout-content-box img {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px;
}

.image {
    position: relative;
    width: 150px;
    box-shadow: 0px 0px 0px gray;
}

.image img {
    border-radius: 30px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 23;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
    box-shadow: 10px 10px 10px black;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

.image-title {
    font-size: 1em;
    font-weight: bold;
}

.image-description {
    font-size: 0.75em;
    margin-top: 0.25em;
}

.addition-div {
    width: 600px;
    border: 1px solid white;
    background-color: black;
    color: white;
    opacity: 0.7;
}

.image2 {
    position: relative;
    margin-left: 10px;
    width: 150px;
    box-shadow: 0px 0px 0px gray;
}

.image2 img {
    border-radius: 30px;
}

.image2-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.image2-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image2-overlay:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px black;
}

.image2-overlay:hover > * {
    transform: translateY(0);
}

.image2-title {
    font-size: 0.8em;
    font-weight: bold;
}

.image2-lowdescription {
    font-size: 0.7em;
    margin-top: 0.25em;
    font-weight: bold;
    color: lightseagreen;
}

.image2-moddescription {
    font-size: 0.7em;
    margin-top: 0.25em;
    font-weight: bold;
    color: goldenrod;
}

.image2-highdescription {
    font-size: 0.7em;
    margin-top: 0.25em;
    font-weight: bold;
    color: indianred;
}

.image2-extremedescription {
    font-size: 0.7em;
    margin-top: 0.25em;
    font-weight: bold;
    color: rebeccapurple;
}

.image2-description2 {
    font-size: 0.6em;
    color: lightskyblue;
}

.form-input-label {
    font-weight: bold; 
    font-size: small;
}

#duration {
    width: 71px;
    font-size: small;
}

#repetition {
    width: 61px;
    font-size: small;
}

#distance {
    width: 61px;
    font-size: small;
}

#sets {
    width: 64px;
    font-size: small;
}

#grade {
    width: 88px;
    font-size: small;
}

.training-box {
    padding-top: 10px;
    padding-bottom: 1px;
    border-radius: 30px;
    opacity: 0.9;
    background-color: rgb(135, 206, 250, 0.8);
}

.low-box {
    padding-top: 10px;
    padding-bottom: 1px;
    height: 300px;
    border-radius: 30px;
    opacity: 0.9;
    background-color: rgb(32, 178, 170, 0.8);
}

.mod-box {
    padding-top: 10px;
    padding-bottom: 1px;
    height: 300px;
    border-radius: 30px;
    opacity: 0.9;
    background-color: rgb(218, 165, 32, 0.8);
}

.high-box {
    padding-top: 10px;
    padding-bottom: 1px;
    height: 300px;
    border-radius: 30px;
    opacity: 0.9;
    background-color: rgb(205, 92, 92, 0.8);
}

.extreme-box {
    padding-top: 10px;
    padding-bottom: 1px;
    height: 300px;
    border-radius: 30px;
    opacity: 0.9;
    background-color: rgb(102, 51, 153, 0.8);
}

.extreme-box2 {
    padding-top: 10px;
    padding-bottom: 1px;
    height: 325px;
    border-radius: 30px;
    opacity: 0.9;
    background-color: rgb(102, 51, 153, 0.8);
}

.home-div2 {
    background-color: rgb(0, 61, 124);
    width: 600px;
    border-radius: 20px;
    margin-top: -25px;
}

.low-heading-box {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background-color: lightseagreen; 
}

.low-heading-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: lightseagreen; 
}

.low-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: aquamarine;
    opacity: 0.9;
}

.low-content-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: aquamarine;
    opacity: 0.9;
}

.moderate-heading-box {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background-color: goldenrod;
    
}

.moderate-heading-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: goldenrod; 
}

.moderate-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: lightgoldenrodyellow;
    opacity: 0.9;
}

.moderate-content-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: lightgoldenrodyellow;
    opacity: 0.9;
}

.high-heading-box {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background-color: indianred;
}

.high-heading-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: indianred;
}

.high-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: pink;
    opacity: 0.9;
}

.high-content-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: pink;
    opacity: 0.9;
}

.extreme-heading-box {
    display: flex;
    justify-content: space-between;
    height: 25px;
    background-color: rebeccapurple; 
}

.extreme-heading-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rebeccapurple; 
}

.extreme-content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: slateblue;
    opacity: 0.9;
}

.extreme-content-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: slateblue;
    opacity: 0.9;
}

.message-box {
    width: 600px;
    border-radius: 30px;
    border: 1px solid rgb(0, 61, 124);
    background-color: rgb(239, 124, 0);
    color: rgb(0, 61, 124);
    opacity: 0.9;
}

.home-div2 {
    background-color: rgb(0, 61, 124);
    width: 1200px;
    border-radius: 30px;
}

.readme-box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 520px;
    right: 5px;
    width: 80px;
    background-color: rgb(0, 61, 124);
    color: rgb(239, 124, 0);
}

.training-center {
    display: flex;
    justify-content: center;
}